<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="author" content="Alessandro Viscomi">
    <meta name="description" content="Detect a possible typosquatted domain">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>TypoAlert | Tool against typosquatting</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="logo">
        <img src="{{url_for('static', filename='img/logo.png')}}">
        <!-- <h2 class="subtitle">Tool against typosquatting</h2> -->
    </div>

	<nav>
        <ul>
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            {% if not current_user.is_authenticated %}
            
            <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
            
            <li><a href="/register"><i class="fa fa-user-plus"></i> Create account</a></li>
            
            {% else %}
            <li><a href="/settings"><i class="fa fa-cog"></i> Settings</a></li>

            <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
            
            <li><a href="mailto:a.viscomi00@gmail.com"><i class="fa fa-envelope"></i> Contact us</a></li>
            
            <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            {% endif %}
        </ul>
    </nav>

	{% if current_user.is_authenticated %}
	<h1>You are logged in</h1>
	
	{% else %}
    <div class="signup-form">
        <h1 style="margin: 40px;">Create an account</h1>
        <form method="post" style="width: 600px;">
            {% with messages = get_flashed_messages(category_filter=['error']) %}
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    
            <label for="email">Email:</label>
            <input type="email" name="email" required />
    
            <label for="password">Password:</label>
            <input type="password" name="password" required />
    
            <button type="submit">Submit</button>
        </form>
    </div>
	{% endif %}
</body>
</html>
